<ion-view view-title="Events App">
	<ion-content>
		<img class="full-image" src="https://dl.dropboxusercontent.com/s/91w4wp17hbfdh01/app-logo.png?dl=0">
		<a href="#/app/events">
			<button class="button button-block button-light">
				Events
			</button>
		</a>
		<a href="#/app/news">
			<button class="button button-block button-light">
				News
			</button>
		</a>
		<a href="#/app/about">
			<button class="button button-block button-light">
				About
			</button>
		</a>


	</ion-content>
</ion-view>